.container__img {
    display: flex;
    flex-direction: column;
    border: 1px solid #3a3b3f;
    width: 21rem;
    height: 27rem;
    text-align: center;
    color: white;
    justify-content: space-between;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
}

.img {
   width: 100%;
}

.container__img p {
    padding:1rem;
    font-size:1.2rem;
}
.container__img div {
    display: flex;
    flex-direction:row-reverse;
    margin: auto;
}

.btn__fav {
    background: none;
    border: none;
    width: 2rem;
    margin: 0 2rem;
    cursor: pointer;
}
.btn__fav img {
    width: 100%;
}